---
import NavItem from './NavItem.astro'
import Icon from './Icon.astro'

const iconClass = 'transition hover:fill-green-400'
const linkClass = 'my-auto animate-up'

const social_icon_size = 34
---

<div
  class='w-screen fixed bg-white backdrop-blur-xl rounded-bl-2xl bg-opacity-40 animate-opacity z-50'
>
  <div class='animate-opacity' style='animation-delay: 100ms;'>
    <div
      class='absolute inset-0 bg-white/60 border-b border-b-black/5 rounded-bl-2xl'
      style={{ zIndex: -1 }}
    >
    </div>
    <div class='w-full flex pl-16 p-1 my-1 justify-between items-center'>
      <div class='h-fill md:mx-0'>
        <a href='#top'>
          <Icon customClass={iconClass} name='apple' size={50} color='black' />
        </a>
      </div>
      <div class='flex gap-20 justify-between max-w-7xl'>
        <NavItem href={'#about'}>About</NavItem>
        <NavItem href={'#projects'}>Projects</NavItem>
        <NavItem href={'#academics'}>Academics</NavItem>
      </div>
      <div class='flex gap-4 justify-end pr-16'>
        <a
          class={linkClass}
          href='https://github.com/eemelioksanen'
          style='animation-delay: 50ms;'
          target='_blank'
        >
          <Icon
            customClass={iconClass}
            color='black'
            name='github'
            size={social_icon_size}
          />
        </a>
        <a
          class={linkClass}
          style='animation-delay: 100ms;'
          href='https://www.linkedin.com/in/eoksanen/'
          target='_blank'
        >
          <Icon
            customClass={iconClass}
            name='linkedin'
            size={social_icon_size}
            color='black'
          />
        </a>
        <a
          class={linkClass}
          href='https://t.me/eemelioksanen'
          style='animation-delay: 150ms;'
          target='_blank'
        >
          <Icon
            customClass={iconClass}
            name='telegram'
            size={social_icon_size}
            color='black'
          />
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  .bebas-neue-regular {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .animate-opacity {
    animation: opacity-animation 0.5s ease-out forwards;
    opacity: 0%;
  }

  @keyframes opacity-animation {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 1;
    }
  }
  .nav-gradient {
    background-image: linear-gradient(
      to bottom,
      rgb(222, 249, 226, 1) 0%,
      rgb(222, 249, 226, 1) 80%,
      rgb(222, 249, 226, 0) 100%
    );
  }
</style>
