---
import NavItem from './NavItem.astro'
import Icon from './Icon.astro'

const iconClass = 'transition dark:hover:fill-blue-500 hover:fill-green-400'
const linkClass = 'my-auto animate-up'

const social_icon_size = 34
---

<script>
  const isDarkMode = () =>
    window.matchMedia &&
    window.matchMedia('(prefers-color-scheme: dark)').matches

  // on first load respect browser theme
  if (localStorage.getItem('theme') === null && isDarkMode()) {
    document.body.classList.add('dark')
  }

  // dark mode toggle
  document.addEventListener('DOMContentLoaded', () => {
    const toggleButton = document.getElementById('dark-mode-toggle')
    const body = document.body

    // Check for saved user preference in local storage
    if (localStorage.getItem('theme') === 'dark') {
      body.classList.add('dark')
    }
    toggleButton?.addEventListener('click', () => {
      body.classList.toggle('dark')

      toggleButton?.classList.remove('darkmode-animate')
      void toggleButton?.offsetWidth
      toggleButton?.classList.add('darkmode-animate')

      // Save user preference in local storage
      if (body.classList.contains('dark')) {
        localStorage.setItem('theme', 'dark')
      } else {
        localStorage.setItem('theme', 'light')
      }
    })
  })
</script>

<div
  class='w-screen xl:fixed bg-white backdrop-blur-xl bg-opacity-40 animate-opacity z-50 h-auto pb-5 xl:pb-0'
>
  <div class='animate-opacity' style='animation-delay: 100ms;'>
    <div class='absolute inset-0 bg-white/60 border-b border-b-black/5 -z-10'>
    </div>
    <div
      class='w-full flex xl:flex-row gap-y-4 flex-col xl:h-[4rem] h-auto items-center overflow-visible'
    >
      <div
        class='mx-auto gap-y-4 flex-col pt-3 xl:pt-0 xl:flex-row flex my-auto gap-x-20 justify-between max-w-7xl'
      >
        <NavItem href={'#about'}>About</NavItem>
        <a href='#top' class='hidden xl:block'>
          <Icon customClass={iconClass} name='apple' size={55} color='black' />
        </a>
        <NavItem href={'#projects'}>Projects</NavItem>
      </div>

      <div
        class='flex gap-x-4 justify-center xl:justify-end xl:pr-16 relative xl:absolute xl:right-0'
      >
        <a
          class={linkClass}
          href='https://github.com/eemelioksanen'
          style='animation-delay: 50ms;'
          target='_blank'
        >
          <Icon
            customClass={iconClass}
            color='black'
            name='github'
            size={social_icon_size}
          />
        </a>
        <a
          class={linkClass}
          style='animation-delay: 100ms;'
          href='https://www.linkedin.com/in/eoksanen/'
          target='_blank'
        >
          <Icon
            customClass={iconClass}
            name='linkedin'
            size={social_icon_size}
            color='black'
          />
        </a>
        <a
          class={linkClass}
          href='https://t.me/eemelioksanen'
          style='animation-delay: 150ms;'
          target='_blank'
        >
          <Icon
            customClass={iconClass}
            name='telegram'
            size={social_icon_size}
            color='black'
          />
        </a>
      </div>
      <div
        class='flex gap-x-4 justify-center xl:justify-end xl:pl-8 relative xl:absolute xl:left-0'
      >
        <button id='dark-mode-toggle'>
          <Icon customClass='dark:hidden' name='moon' size={30} />
          <Icon customClass='hidden dark:block' name='sun' size={30} />
        </button>
      </div>
    </div>
  </div>
</div>

<style>
  .bebas-neue-regular {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .animate-opacity {
    animation: opacity-animation 0.5s ease-out forwards;
    opacity: 0%;
  }

  @keyframes opacity-animation {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes darkmode-animate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .darkmode-animate {
    animation: darkmode-animate 0.2s ease-out forwards;
  }
</style>
