---
import NavItem from './NavItem.astro'
import Icon from './Icon.astro'

const iconClass = 'transition hover:fill-green-400'
const linkClass = 'my-auto animate-up'
---

<div class='mx-auto max-w-7xl animate-opacity' style='animation-delay: 100ms;'>
  <div
    class='w-full grid grid-cols-1 grid-rows-4 md:grid-rows-1 md:grid-cols-8 py-1 my-1'
  >
    <div class='mx-auto md:mx-0'>
      <a href='#top'>
        <Icon customClass={iconClass} name='apple' size={80} color='black' />
      </a>
    </div>
    <NavItem href={'#about'}>About</NavItem>
    <NavItem href={'#projects'}>Projects</NavItem>
    <NavItem href={'#academics'}>Academics</NavItem>
    <div class='flex gap-4 justify-end mx-auto'>
      <a
        class={linkClass}
        href='https://github.com/eemelioksanen'
        style='animation-delay: 50ms;'
        target='_blank'
      >
        <Icon customClass={iconClass} color='black' name='github' size={40} />
      </a>
      <a
        class={linkClass}
        style='animation-delay: 100ms;'
        href='https://www.linkedin.com/in/eoksanen/'
        target='_blank'
      >
        <Icon customClass={iconClass} name='linkedin' size={40} color='black' />
      </a>
      <a
        class={linkClass}
        href='https://t.me/eemelioksanen'
        style='animation-delay: 150ms;'
        target='_blank'
      >
        <Icon customClass={iconClass} name='telegram' size={40} color='black' />
      </a>
    </div>
  </div>
</div>

<style>
  .bebas-neue-regular {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .animate-opacity {
    animation: opacity-animation 0.5s ease-out forwards;
    opacity: 0%;
  }

  @keyframes opacity-animation {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 1;
    }
  }
</style>
