---
import NavItem from './NavItem.astro'
import Icon from './Icon.astro'

const iconClass = 'transition dark:hover:fill-indigo-400 hover:fill-green-400'
const linkClass = 'my-auto animate-up'

const social_icon_size = 34
---

<script>
	const isDarkMode = () =>
		window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches

	// on first load respect browser theme
	if (localStorage.getItem('theme') === null && isDarkMode()) {
		document.body.classList.add('dark')
	}

	// dark mode toggle
	document.addEventListener('DOMContentLoaded', () => {
		const toggleButton = document.getElementById('dark-mode-toggle')
		const body = document.body

		// Check for saved user preference in local storage
		if (localStorage.getItem('theme') === 'dark') {
			body.classList.add('dark')
		}
		toggleButton?.addEventListener('click', () => {
			body.classList.toggle('dark')

			toggleButton?.classList.remove('darkmode-animate')
			void toggleButton?.offsetWidth
			toggleButton?.classList.add('darkmode-animate')

			// Save user preference in local storage
			if (body.classList.contains('dark')) {
				localStorage.setItem('theme', 'dark')
			} else {
				localStorage.setItem('theme', 'light')
			}
		})
	})
</script>

<div
	class='animate-opacity z-50 h-auto w-screen bg-white bg-opacity-40 pb-5 backdrop-blur-xl xl:fixed xl:pb-0'
>
	<div class='animate-opacity' style='animation-delay: 100ms;'>
		<div class='absolute inset-0 -z-10 border-b border-b-black/5 bg-white/60'></div>
		<div
			class='flex h-auto w-full flex-col items-center gap-y-4 overflow-visible xl:h-[4rem] xl:flex-row'
		>
			<div
				class='mx-auto my-auto flex max-w-7xl flex-col justify-between gap-x-20 gap-y-4 pt-3 xl:flex-row xl:pt-0'
			>
				<NavItem href={'#about'}>About</NavItem>
				<a href='#top' class='hidden xl:block'>
					<Icon customClass={iconClass} name='apple' size={55} color='black' />
				</a>
				<NavItem href={'#projects'}>Projects</NavItem>
			</div>

			<div
				class='relative flex justify-center gap-x-4 xl:absolute xl:right-0 xl:justify-end xl:pr-16'
			>
				<a
					class={linkClass}
					href='https://github.com/eemelioksanen'
					style='animation-delay: 50ms;'
					target='_blank'
				>
					<Icon customClass={iconClass} color='black' name='github' size={social_icon_size} />
				</a>
				<a
					class={linkClass}
					style='animation-delay: 100ms;'
					href='https://www.linkedin.com/in/eoksanen/'
					target='_blank'
				>
					<Icon customClass={iconClass} name='linkedin' size={social_icon_size} color='black' />
				</a>
				<a
					class={linkClass}
					href='https://t.me/eemelioksanen'
					style='animation-delay: 150ms;'
					target='_blank'
				>
					<Icon customClass={iconClass} name='telegram' size={social_icon_size} color='black' />
				</a>
			</div>
			<div
				class='relative flex justify-center gap-x-4 xl:absolute xl:left-0 xl:justify-end xl:pl-8'
			>
				<button id='dark-mode-toggle' class='h-[2.5rem]'>
					<Icon customClass='hidden dark:block fill-blue-300' name='moon' size={30} />
					<Icon customClass='dark:hidden fill-green-200' name='sun' size={30} />
				</button>
			</div>
		</div>
	</div>
</div>

<style>
	.bebas-neue-regular {
		font-family: 'Bebas Neue', sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.animate-opacity {
		animation: opacity-animation 0.5s ease-out forwards;
		opacity: 0%;
	}

	@keyframes opacity-animation {
		0% {
			opacity: 0%;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes darkmode-animate {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.2);
		}
		100% {
			transform: scale(1);
		}
	}

	.darkmode-animate {
		animation: darkmode-animate 0.2s ease-out forwards;
	}
</style>
