---
import { Image } from 'astro:assets'
import profilePic from '../assets/me.png'

const titleClass = 'text-xl xl:text-2xl dark:text-indigo-100 transition-colors duration-300'

const associationClass =
	'text-sm xl:text:md text-green-800 dark:text-indigo-300 transition-colors duration-300'
---

<div class='mx-auto max-w-6xl' id='about'>
	<div
		class='fade-in-1 animate-opacity py-au col-span-3 justify-center xl:h-[13.15rem]'
		style='animation-delay: 0.2s'
	>
		<div class='w-fu flex justify-center xl:my-0 xl:flex-none xl:justify-normal'>
			<div class='profile-bg w-fit rounded-full p-[0.15rem] xl:absolute'>
				<Image
					src={profilePic}
					alt='profile'
					width='100'
					height='100'
					class='fade-in-2 h-[13rem] w-[13rem] rounded-full transition-colors duration-300'
				/>
			</div>
		</div>
		<div class='h-[2rem] xl:h-0'></div>
		<div class='quicksand mx-auto flex h-full max-w-[50rem] items-center p-1'>
			<div class='animate-right w-1/2 items-center text-right'>
				<h2 class={titleClass}>ML, AI & Data Science</h2>
				<p class={associationClass}>Aalto University</p>
			</div>
			<div class='line mx-6 h-[10rem] w-[0.12rem] transition-colors duration-300'></div>
			<div class='animate-left w-1/2 justify-center transition-colors duration-300'>
				<h2 class={titleClass}>Currently looking for interesting opportunities</h2>
				<p class={associationClass}></p>
			</div>
		</div>
	</div>
</div>

<style>
	.animate-opacity {
		animation: opacity-animation 1s ease-out forwards;
		opacity: 0%;
	}

	@keyframes opacity-animation {
		0% {
			opacity: 0%;
		}
		100% {
			opacity: 1;
		}
	}

	.animate-left {
		animation: left-animation 0.8s ease-out forwards;
		right: -2.5rem;
		position: relative;
	}

	@keyframes left-animation {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-2.5rem);
		}
	}

	.animate-right {
		animation: right-animation 0.8s ease-out forwards;
		left: -2.5rem;
		position: relative;
	}

	@keyframes right-animation {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(2.5rem);
		}
	}

	.line {
		background: linear-gradient(transparent 0%, rgb(4, 172, 60) 50%, transparent 100%);
	}

	.line:is(.dark *) {
		background: linear-gradient(transparent 0%, rgb(162, 139, 247) 50%, transparent 100%);
	}

	.quicksand {
		font-family: 'Quicksand', sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
	}

	:root {
		--myColor1: green;
		--myColor2: rgb(228, 255, 237);
	}

	.dark {
		--myColor1: rgb(0, 85, 255);
		--myColor2: magenta;
	}

	.profile-bg:is(.dark *) {
		--myColor1: rgb(0, 85, 255);
		--myColor2: magenta;
	}

	.profile-bg {
		background: linear-gradient(145deg, var(--myColor1), var(--myColor2) 100%);
		transition:
			--myColor1 0.3s,
			--myColor2 0.3s;
		-moz-transition:
			--myColor1 0.3s,
			--myColor2 0.3s;
	}
</style>
