---
import Icon from './Icon.astro'

interface Props {
  name: string
  url: string
  lang: 'TypeScript' | 'JavaScript' | 'Python'
  delay?: number
}

const { name, url, lang, delay } = Astro.props

let color

switch (lang) {
  case 'TypeScript':
    color = '#3178c6'
    break
  case 'JavaScript':
    color = '#f7df1e'
    break
  case 'Python':
    color = '#3776ab'
    break
  default:
    color = '#d400ff'
}
---

<div
  class='gg animate-right h-72 flex text-left text-2xl origin-bottom-left relative rounded-2xl bg-white shadow-2xl overflow-hidden'
  style=`animation-delay: ${delay ? delay : 0}s`
>
  <div class='w-full p-4 relative'>
    <div class='w-full pb-3'>
      <a class='flex gap-2'>
        <h2 class='quicksand text-2xl font-bold text-emerald-500'>
          {name}
        </h2>
      </a>
    </div>
    <div class='text-lg text-left max-h-72'>
      <slot />
    </div>
    <div class=`absolute bottom-2 left-4 text-lg h-10 flex`>
      <div class='my-auto'>
        <Icon name='gear' size={20} color={color} />
      </div>
      <div class='my-auto pl-1' style=`color: ${color}`>{lang}</div>
    </div>
    <a
      href={url}
      target='_blank'
      class='absolute bottom-2 right-4 h-10 flex text-lg'
    >
      <div class='pr-1 my-auto' style='color: #2600ff'>
        View source on GitHub
      </div>
      <div class='my-auto'>
        <Icon name='external_link' size={20} color={'#2600ff'} />
      </div>
    </a>
  </div>
  <div class='w-72 aspect-square rounded-r-2xl'>
    <slot name='image' />
  </div>
</div>

<style>
  .quicksand {
    font-family: 'Quicksand', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .bebas-neue-regular {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .animate-right {
    position: relative;
    opacity: 0;
    left: -10rem;
    animation: animation-right 0.6s ease-out forwards;
  }
  @keyframes animation-right {
    50 % {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(10rem);
    }
  }
</style>
