---
import Icon from './Icon.astro'

interface Props {
	name: string
	url: string
	lang: 'TypeScript' | 'JavaScript' | 'Python'
	delay?: number
}

const { name, url, lang, delay } = Astro.props

let color

switch (lang) {
	case 'TypeScript':
		color = '#3178c6'
		break
	case 'JavaScript':
		color = '#c99402'
		break
	case 'Python':
		color = '#3776ab'
		break
	default:
		color = '#d400ff'
}
---

<div class='flex w-full justify-center xl:px-[5rem]'>
	<divd
		class='animate-right relative flex h-80 w-full origin-bottom-left overflow-hidden rounded-br-3xl rounded-tl-3xl bg-white text-left text-2xl shadow-2xl transition-colors duration-300 dark:bg-indigo-950 dark:text-indigo-300 sm:h-60 xl:mx-0'
		style=`animation-delay: ${delay ? delay : 0}s`
	>
		<div class='relative w-full p-4'>
			<div class='w-full pb-3'>
				<a class='flex gap-2'>
					<h2
						class='quicksand dark:text-indigo-00 text-2xl font-bold text-emerald-500 transition-colors duration-300 dark:text-indigo-200'
					>
						{name}
					</h2>
				</a>
			</div>
			<div class='quicksand max-h-72 text-left text-lg'>
				<slot />
			</div>
			<div class=`absolute bottom-2 left-4 text-lg h-10 flex`>
				<div class='my-auto'>
					<Icon name='gear' size={20} color={color} />
				</div>
				<div class='my-auto pl-1' style=`color: ${color}`>{lang}</div>
			</div>
		</div>
		<a href={url} target='_blank' class='absolute bottom-2 right-4 flex h-10 text-lg'>
			<div
				class='quicksand my-auto pr-1 text-blue-700 transition-colors duration-300 dark:text-blue-300'
			>
				<p class='hidden sm:block'>View source on GitHub</p>
				<p class='block sm:hidden'>Source</p>
			</div>
			<div class='my-auto'>
				<Icon
					name='external_link'
					customClass='stroke-blue-700 dark:stroke-blue-300 transition-colors duration-300'
					size={15}
				/>
			</div>
		</a>
		<div class='hidden w-[20rem] justify-center align-middle md:flex'>
			<slot name='image' />
		</div>

		<style>
			.quicksand {
				font-family: 'Quicksand', sans-serif;
				font-optical-sizing: auto;
				font-style: normal;
			}

			.bebas-neue-regular {
				font-family: 'Bebas Neue', sans-serif;
				font-weight: 400;
				font-style: normal;
			}

			.animate-right {
				position: relative;
				opacity: 0;
				left: -10rem;
				animation: animation-right 0.6s ease-out forwards;
			}
			@keyframes animation-right {
				50 % {
					opacity: 0;
				}
				100% {
					opacity: 1;
					transform: translateX(10rem);
				}
			}
		</style>
	</divd>
</div>
